*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}
.centro{
max-width:1100px;
margin: 0 auto;
padding:0 2%;
display:flex;
flex-wrap:wrap;
}
.menu-mobile{
display:none;
}
header{
background-color:white;
padding:20px 0;
border-bottom:1px solid #16507b;
}
.logo{
color:#16507b;
}
.logo h2{
font-weight:normal;
font-size:25px;
}
.menu{
width:80%;
text-align:right;
}
.menu a{
color:#124265;
font-size:20px;
text-decoration:none;
margin-right:30px;
}
.menu a:hover{
color:#124265;
border: 2px solid #124265;
}

/*Section Main */

section.main{
background-image:url('https://img.freepik.com/fotos-gratis/superficie-abstrata-e-texturas-de-parede-de-pedra-branca-de-concreta_74190-8189.jpg');
padding:70px 0;
background-position:center;
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;
}
.main_centro{
width:100%;
margin:20px 0;
text-align:center;
}
.main_centro h2{
color:#16507b;
font-size:30px;
text-transform:uppercase;
}
.main_centro p{
font-size:19px;
margin:10px 0;
}
.diferenciais{
display:flex;
flex-wrap: wrap;
}
.diferenciais-single{
text-align:center;
border-radius:10px;
background-color:white;
width:100%;
margin:1%;
padding:20px 50px;
}
.diferenciais-single i{
color:#124265;
font-size:23px;
}
.diferenciais-single h2{
color:#124265;
text-align:center;
margin:10px 0;
font-size:20px;
}
.diferenciais-single p{
font-size:13px;
line-height:15px;
}
section .sobre{
padding:80px 0;
}
.chamada-sobre{
width:100%;
text-align:center;
}
.chamada-sobre h2{
margin:25px 0;
color:#124265;
text-transform:uppercase;
}
.conteudo-sobre{
display:flex;
flex-wrap:wrap;
}

.conteudo-sobre p{
width:48%;
margin-right:2%;
}
@media screen and (max-width: 768px){
.diferenciais-single{
width:100%;
margin-bottom:20px;
}
.logo{
width:20%;
}
.conteudo-sobre p{
margin:10px 20px;
width:100%;
}
}
section .sobre-dois{
padding:80px 0;
}
.chamada-sobre-dois{
width:100%;
text-align:center;
}
.chamada-sobre-dois h2{
margin:25px 0;
color:#124265;
text-transform:uppercase;
}
.conteudo-sobre-dois{
display:flex;
flex-wrap:wrap;
}
.conteudo-sobre-dois p{
width:100%;
text-align:center;
}
.diferenciais-dois{
display:flex;
flex-wrap: wrap;
}
.diferenciais-single-dois{
text-align:center;
border-radius:10px;
background-color:white;
width:100%;
margin:1%;
padding:20px 50px;
}
.diferenciais-single-dois h2{
color:#124265;
text-align:center;
margin:10px 0;
font-size:20px;
}
.diferenciais-single-dois p{
font-size:13px;
line-height:15px;
}